
/* 
    * Forms 
    */
.form-control:focus {
    background-color: #444;
    color: rgb(240, 240, 240)
}

.form-control {
    background-color: transparent;
    border-color: #555;
    color: ghostwhite;
}

    .form-control.error {
        border-color: red;
    }

label.error {
    color: red;
    font-size: small;
}

div.help-text {
    font-size: small;
}
/* 
    * Header 
    */
div[name="header"] {
    height: 50px;
    border-bottom: #444 solid 1px;
    margin-top: 5px;
}
/* 
    * Loader 
    */
div[name="loader"] {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 16px solid #cdcdb1; /* Light grey */
    border-top: 16px solid #9c9c63; /* Brown-ish */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*
    * Card 
    */
.card {
    background-color: transparent;
    border-color: #444;
    color: #fff;
}

    .card .card-body .card-title {
        border-bottom: #444 solid 1px;
        padding-bottom: 5px;
    }

    .card .card-footer {
        border-top: #555 solid 1px;
    }

@media screen and (max-width: 500px) {
    .card {
        width: 300px;
        margin-left: 40px;
    }
}
/* 
    * Modal 
    */
div.modal-content {
    background-color: lightgray;
    color: rgb(240, 240, 240);
}
/* 
    * Data Tables 
    */
table[name='search-dt-table'],
table[automationId='search-preview-table'] {
    font-size: 14px;
    border: 1px solid #444;
    width: 100%;
    margin-left: 5px;
    margin-right: 10px;
}

    table[name='search-dt-table'] tbody,
    table[name='search-dt-table'] td,
    table[name='search-dt-table'] tfoot,
    table[name='search-dt-table'] th,
    table[name='search-dt-table'] thead,
    table[name='search-dt-table'] tr,
    table[automationId='search-preview-table'] tbody,
    table[automationId='search-preview-table'] td,
    table[automationId='search-preview-table'] tfoot,
    table[automationId='search-preview-table'] th,
    table[automationId='search-preview-table'] thead,
    table[automationId='search-preview-table'] tr {
        border: 1px solid #444;
    }

    table[name='search-dt-table'] td,
    table[automationId='search-preview-table'] td {
        padding-left: 4px;
        padding-right: 4px;
    }

    table[name='search-dt-table'] thead tr,
    table[automationId='search-preview-table'] thead tr {
        background-color: rgba(255, 255, 255, .25);
    }

    table[name='search-dt-table'] tfoot tr td,
    table[automationId='search-preview-table'] tfoot tr td {
        border-top-style: double;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
    }

    table[name='search-dt-table'] tfoot,
    table[automationId='search-preview-table'] tfoot {
        margin-top: 10px;
    }

tr[data-position] {
    cursor: pointer;
}

    tr[data-position]:hover {
        background-color: rgba(255, 255, 255, .25);
    }

tr[data-position='odd'] {
    background-color: rgba(125, 125, 125, .25);
}

tr[data-position] a[name='link-show-details']:hover {
    color: #0a58ca;
}

#cbo-subcontent-history-pager {
    background-color: transparent;
    border-color: #555;
    color: ghostwhite;
}
#div-user-restriction[name="user-restriction-callout"] {
    background-color: #333;
    z-index: 1000;
}
#account-subcontent-icon > ul {
    z-index: 2000;
}

#cbo-search-state[disabled],
#cbo-search-county[disabled],
#tbx-search-startdate[disabled],
#tbx-search-enddate[disabled],
#username[disabled],
#login-password[disabled],
input[disabled],
select[disabled] {
    background-color: #777 !important;
    color: #444;
}