div[name='left-menu'] {
    position: absolute;
    z-index: 5000;
    top: 0px;
    left: 0px;
    height: 100vh;
}
    div[name='left-menu'] > div.row {
        padding: 8px;
        border-bottom-color: #444;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-right-color: #444;
        border-right-style: solid;
        border-right-width: 1px;
        background-color: rgb(51, 51, 51);
    }
